<div class="left-nav-bar">
    <a href="/">
        <img width="80" height="50" loading="lazy" src="{{ 'nike.png' | asset_url }}" />
    </a>
</div>
<div>
    <ul class="middle-nav-bar">
        {% for link in linklists.main-menu.links %}
            <li>{{ link.title | link_to: link.url }}</li>
        {% endfor %}
    </ul>
</div>
<div class="right-nav-bar">
    <form action="/search">
        <input type="search" name="search" class="search-input" placeholder="Search..." />
    </form>
    <a href="{{ routes.cart_url }}">
        <img width="40" height="40" loading="lazy" src="{{ 'd.png' | asset_url }}" />
    </a>
</div>
