<section class="more-info-container">
    {% if section.settings.heading != blank %}
        <h1>{{ section.settings.heading }}</h1>
    {% else  %}
        <h1>The Resolution Starter Pack</h1>
    {% endif %}
    {% if section.settings.text != blank %}
        <p>{{ section.settings.text }}</p>
    {% else %}
        <p>Go for all your fitness goals with a curated collection of new styles.</p>
    {% endif %}
    <button>Shop</button>
</section>

<style>
    .more-info-container {
        text-align: center;
        background-color: {{ section.settings.background-color }};
        color: {{ section.settings.text_color }}
      }

      .more-info-container h1 {
        font-size: 3.125rem;
      }

    .more-info-container button {
        padding: 1vh 2vw;
        border: none;
        border-radius: 20px;
        font-size: 1rem;
        background-color: black;
        color: #F4F4F4;
        cursor: pointer;
    }

    .more-info-container button:hover {
      background-color: rgb(100, 100, 100);
    }

</style>

{% schema %}
{
  "name": "more-info",
  "settings": [
    {
      "type": "color",
      "id": "background-color",
      "label": "Background Color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "text_color",
      "label": "Text Color",
      "default": "#000000"
    },
    {
      "type": "text",
      "id": "heading",
      "label": "Heading Text",
    },
    {
        "type": "text",
        "id": "text",
        "label": "Text",
    },
  ],
  "presets": [
    {
      "name": "More Info"
    }
  ]
}
{% endschema %}
